.root {
    -fx-background-image: url("kletka2.jpg");
}

.gameBoard {
    -fx-border-color: ROSYBROWN;
    -fx-border-width: 6px;
    -fx-border-radius: 6px;
}

.ipad-dark-grey {
    -fx-background-color:  	TOMATO;
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-padding: 8;
    /*-fx-font-family: "Helvetica";*/
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill:  	DARKSLATEGREY;
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: red;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 14px;
}


.gameOverStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48;
    -fx-background-color: red;
}

.scoreClass{
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 38;
    -fx-fill: FIREBRICK;
    -fx-text-fill: DARKRED;
}